<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ path('app_produits_index') }}">
            <img src="{{ asset('img/logo.jpg') }}">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ path('app_produits_index') }}">
                ACCUEIL
            </a>

            <a class="navbar-item" href="{{ path('app_rechercher') }}">
                RECHERCHER
            </a>

        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">

                    {% if  is_granted('ROLE_ADMIN')  or is_granted('ROLE_USER')%}
                        <a class="button is-success" href="{{ path('admin') }}">
                            ADMINISTRATION
                        </a>

                        <a href="{{ path('app_logout') }}" class="button is-danger">
                            DECONNEXION
                        </a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="button is-light">
                            CONNEXION
                        </a>

                        <a href="{{ path('app_register') }}" class="button is-primary">
                            <strong>S'INSCRIRE</strong>
                        </a>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
</nav>